Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
aclocal.m4
ar-lib
install-sh
missing
test-driver
kids-*.tar.gz

debug/
src/store/.dirstamp
core.*
epm/kids.list
client/c/sample/loggen
client/c/sample/echo2kids
client/c/sample/subscribe
client/python/build/
client/python/dist/
*.egg-info/
.installed.cfg
Makefile
*.a
*.heap
*.la
linux/
autom4te.cache/
.deps
.lib
*.log
*.pyc
*.dSYM/
*.o
*~
*.out
*.bak
*.scan
*core
config.h
*.status
src/kids
stamp-h1
epm/linux-*/
*.deb
debian/kids.conf
*.tar.gz

*.deps
*.dirstamp
debug/*
callgrind.*
!client/c/sample/Makefile
\#*\#
.\#*
test/runtest*
